# Secret config
/secrets.json
/ssl
/etc/ssl*
/.env
/.gitconfig

# Runtime data
/instance/
/env/
/data/
/annuaire
/src/instance/

# Sandbox
/sandbox/
/wip/

# Cache and generated stuff
/front/sass/.sass-cache/
/front/node_modules/
/front/dist/
/front/tests/e2e/screenshots/

/labster/static/js/*.js
/labster/static/css/*.css
/labster/static/fonts

# Local stuff / more junk
.venv
.DS_Store
.idea
.vagrant
.mypy_cache
.pytest_cache
.pyre_configuration
.pyre
*.sql
*.out


# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
/dist
/build/
.eggs/
parts/
sdist/
var/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.testmondata
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
node_modules/
*.map
