<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Demande de recrutement
    de {{ demande.civilite }} {{ demande.prenom }} {{ demande.data['nom'] }}</title>

  <style type="text/css">
    {% include "documents-generes/lettre_recrutement.css" %}
  </style>

</head>

<body class="standard doctorant">
<div id="letter">
  <img id="logo-upmc" src="/static/img/upmc-logo.png" alt=""/>

  <div class="header-object">Objet: <b>Lettre de commande pour le recrutement
    d’un doctorant sur ressources contractuelles</b>
  </div>


  <h2>Nature du recrutement</h2>

  <p><em>{{ demande.type_de_demande }}</em></p>

  <p>Le recrutement sur contrat doctoral est la norme ; le recours à un
    recrutement sur CDD classique est complétement exceptionnel.</p>


  <h2>Dates</h2>

  <p>Date de début du contrat : <em>{% if demande.date_debut -%}
    {{ demande.date_debut | dateformat('d MMMM y') }}.
  {% else -%}
    N/A.
  {% endif -%}
  </em>
  </p>

  <p>Date de fin du contrat : <em>{% if demande.date_fin -%}
    {{ demande.date_fin | dateformat('d MMMM y') }}.
  {% else -%}
    N/A.
  {% endif -%}
  </em>
  </p>


  <h2>Imputation du financement et rémunération</h2>

  <p>Référence de convention de recherche du laboratoire :
    <em>{{ demande.numero_de_financement }}</em>.</p>

  <p>
    Précisions particulières (cofinancement notamment) : <em>
    {% if demande.co_finance %}Co-financement - №
      {{ demande.numero_de_financement2 }}.
    {% else %}N/A.{% endif %}</em>
  </p>

  <p>
    <b>Rémunération brute mensuelle souhaitée :</b>
  </p>

  <p>Rémunération (hors mission doctorale) :
    <em>{{ demande.salaire_brut_mensuel or 'N/A' }} €</em>.</p>

  <p><b>Remboursement partiel des frais de transport domicile/travail</b> : <em>
    {% if demande.indemnite_transport_en_commun is defined %}
      {{ demande.indemnite_transport_en_commun }}
    {% else %}
      non
    {% endif %}
  </em>.
  </p>

  <table width="100%" style="border: solid 1px black; padding: 1em;">

    <tr style="vertical-align: top;">
      <td style="width: 50%; border: solid 1px black; padding: 1em;">
        <h3>Candidat à recruter</h3>

        <p>Civilité : <em>{{ demande.civilite }}</em>.</p>
        <p>Prénom : <em>{{ demande.prenom or 'N/A' }}</em>.</p>
        <p>Nom : <em>{{ demande.data['nom'] or 'N/A' }}</em>.</p>
        <p>Email : <em>{{ demande.email }}</em>.</p>

      </td>

      <td style="width: 50%; border: solid 1px black; padding: 1em;">

        <h3>Affectation du doctorant</h3>

        <p>Directeur de thèse :
          <em>{{ demande.porteur.prenom }} {{ demande.porteur.nom }}.</em></p>

        <p>Mail : <em>{{ demande.porteur.email }}.</em></p>

        <p>Unité de recherche : <em>{{ demande.structure.nom }}.</em>
        </p>

        <p>École doctorale : <em>{{ demande.ecole_doctorale }}</em></p>

      </td>

    </tr>
  </table>


  <h2 id="signatures">Signatures</h2>


  <div style="border: solid 1px black; padding: 1em;">
    <p>Je, soussigné-e, <em>{{ signataire.prenom }} {{ signataire.nom }}</em>,
      directeur de: <em>{{ demande.structure.nom }}</em>, demande le
      recrutement décrit ci-dessus.</p>

    <p>Date:</p>
    <p><br></p>
    <p><br></p>
  </div>

  <div style="border: solid 1px black; padding: 1em;">
    <p>Je, soussigné-e,</p>
    <p>directeur/directrice de l’école doctorale, propose le recrutement décrit
      ci-dessus.</p>

    <p><br></p>
    <p><br></p>

    <p>En cas de prolongation de contrat au-delà de la 3e année de
      doctorat :</p>
    <p>[ ] J’atteste avoir signé favorablement la demande de dérogation
      d’inscription en doctorat</p>
    <p>Date :</p>
  </div>


  <div id="page-footer">

    <table width="100%" style="border: none; padding: 1em;">

      <tr style="vertical-align: top;">
        <td style="width: 50%; border: none; padding: 1em;">
          Direction de la Recherche et de l'Innovation (DR&amp;I)<br> 4, place
          Jussieu - 75252 PARIS Cedex 05
        </td>

        <td style="width: 50%; border: none; padding: 1em;">
          Institut de Formation Doctorale (IFD)<br> Coordination des écoles
          doctorales<br> 15, rue de l’école de médecine - 75006 PARIS<br> Tél. :
          01.44.27.42.93 - dominique.belle@sorbonne-universite.fr
        </td>

      </tr>
    </table>

  </div>

</div>

<!-- second page -->
<div id="instructions">
  <h1>Guide et explications</h1>

  <h2>Dates</h2>
  <p>
    <b>La demande de recrutement doit être faite au minimum huit semaines avant
      la date souhaitée du début du contrat pour permettre le traitement du
      dossier dans les temps.</b></p>


  <p>Selon les contraintes liées au financement, la date de début souhaitée peut
    être repoussée. Un contrat de travail ne doit pas être signé de façon
    rétroactive.</p>

  <p><b> Très important : un salarié NE DOIT PAS être au laboratoire avant
    d’avoir signé son contrat de travail. Il ne doit pas non plus travailler au
    laboratoire avant la date d’effet mentionnée sur son contrat.</b></p>

  <h2>Circuit de transmission</h2>

  <p>Le directeur de thèse est l’initiateur de la démarche. Il fait signer par
    le directeur de la structure et envoie en parallèle :</p>

  <ul>
    <li>la lettre de commande et le devis à l’école doctorale</li>
    <li>la lettre de commande, le devis et le dossier complet à la DR&amp;I</li>
  </ul>


  <table width="100%" style="border: solid 1px black; padding: 1em;">

    <tr style="vertical-align: top;">
      <td style="width: 50%; border: solid 1px black; padding: 1em;">

        <h3>Coté école doctorale</h3>

        <p>Si le recrutement est validé au niveau de l’école doctorale, la
          lettre de commande signée est envoyée par l’école doctorale à
          l’IFD par mail :</p>

        <p><b>dominique.belle@upmc.fr, coordinatrice des écoles doctorales à
          l’Institut de formation doctorale.</b></p>

        <p>S’il s’agit d’un contrat doctoral, l’école doctorale saisit le projet
          de recrutement dans l’application de gestion (SIPAD).</p>

      </td>
      <td style="width: 50%; border: solid 1px black; padding: 1em;">
        <h3>Coté DR&amp;I</h3>

        <p>La DR&amp;I s’assure de la disponibilité financière et de la
          cohérence du devis avec la convention.</p>

        <p>Une fois validé, la DR&amp;I transmet le devis à l’IFD.</p>

        <p>Sur la base du recrutement validé par l’ED et le devis validé par la
          DR&amp;I, l’IFD valide le dossier dans l’application de gestion SIPAD
          et la DR&amp;I peut alors éditer le contrat de travail.</p>

      </td>
    </tr>
  </table>


  <h2>Remarque sur l’inscription administrative en doctorat</h2>

  <p>Les doctorants concernés peuvent réaliser leur inscription administrative
    en doctorat à partir du moment où leur <u>financement est validé dans
      l’application de gestion SIPAD.</u></p>

  <p>Ils n’ont pas besoin d’avoir leur contrat de travail signé pour s’inscrire.
    Ils n’ont pas non plus besoin de leur carte d’étudiant pour signer leur
    contrat de travail. Les deux démarches doivent bien sûr être obligatoirement
    réalisées, dans des délais les plus proches possibles. L’IFD procède à des
    contrôles a posteriori pour s’assurer que tous les doctorants salariés de
    Sorbonne Université sont bien inscrits administrativement. Conformément à la
    réglementation, le contrat doctoral ne peut être maintenu si le doctorant ne
    réalise pas son inscription administrative.</p>


  <div class="page-break"></div>

  {% include "documents-generes/adresse_dgrtt.html" %}

  <p><b>Tout dossier incomplet ne sera pas traité.</b></p>

  {% include "documents-generes/pieces_a_joindre.html" %}

</div>
</body>
</html>
