body {
    font-family: 'Century Gothic', sans-serif;
    font-size: 11pt;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tr, td, tg {
}

#logo-upmc {
    width: 5cm;
}

.underline {
    text-decoration: underline;
}

.header-location,
.signature {
    text-align: right;
    margin-right: 2.5cm;
}

.signature {
    margin-top: 4cm;
}

.header-object {
    margin: 1.5cm 0em;
}

.letter-to {
    display: block;
    margin-bottom: 1em;
}

#letter .footer h4 {
    margin-bottom: 0.5em;
}

#letter .footer ul {
    margin-top: 0;
}

#instructions .head {
    font-weight: bold;
}

#instructions .address {
    white-space: pre;
    text-align: center;
    font-weight: bold;
    color: #1F497D;
}

body.doctorant #instructions td {
    padding: 0.5em;
    width: 50%;
}

#pieces-a-joindre ul.pieces {
    list-style-type: none;
}

#pieces-a-joindre .pieces li:before {
    position: absolute;
    left: -1.5em;
    /* content: "\2B1C"; /* U+2B1C: "⬜" WHITE LARGE SQUARE */
    content: "\2610"; /* U+2610: "☐" BALLOT BOX */
}

.pieces li {
    position: relative;
}

table h1,
table h2,
table h3,
table h4 {
    margin-top: 0;
}

body.doctorant h1,
body.doctorant h2,
body.doctorant h3,
body.doctorant h4 {
    margin-bottom: 0.5em;
    color: red;
}

body.doctorant h2 + p,
body.doctorant h3 + p,
body.doctorant h4 + p {
    margin-top: 0.5em;
}

body.doctorant .page-head .description {
    padding-left: 230px; /* logo width: 201px */
    font-weight: bold;
    color: #9A7B63;
}

body.doctorant .page-head:after {
    clear: both;
    display: table;
    content: " ";
}

body.doctorant .page-head #logo-upmc {
    float: left;
}

body.doctorant .page-head .description h2 {
    margin: 0;
}

body.doctorant #candidat tr,
body.doctorant #instructions tr {
    vertical-align: top;
}

body.doctorant #candidat td {
    width: 50%;
    border: solid 1px black;
    padding: 0.5em;
    box-sizing: border-box;
}

body.doctorant #candidat dl {
}

body.doctorant #candidat dl:after {
    display: table;
    content: " ";
    clear: both;
}

body.doctorant #candidat dt {
    display: inline;
}

body.doctorant #candidat dt:after {
    display: inline;
    content: " : ";
}

body.doctorant #candidat dd {
    display: inline;
    margin: 0;
}

body.doctorant #candidat dd:after {
    /* this rules forces a line break after dd */
    display: table;
    content: " ";
}

body.doctorant {
    font-size: 10pt;
}

body.doctorant #footer {
    display: none;
    font-size: 7pt;
    color: #9A7B63;
}

body.doctorant #footer > div > div:last-child {
    float: right;
}

.signatures > div {
    padding: 0 0.5em 0.5em 0.5em;
    border: solid 1px black;
}

.signatures > div:first-child {
    border-bottom: none;
}

/* flask debug toolbar, used during dev */
@page {
    size: A4 portrait;
    margin: 1.50cm;
}

@media print {
    #flDebug {
        display: none;
    }

    #letter {
        position: relative;
        height: 26.7cm; /* A4 height (29.7) - margins */
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        font-size: 6pt;
    }

    .doctorant #letter {
        height: 23.7cm;
    }

    body.doctorant #page-footer {
        display: block;
        position: fixed;
        width: 18cm;
        bottom: 0;
        left: 0;
    }

    #instructions .page-head,
    #signatures,
    .page-break {
        page-break-before: always;
    }

}

h2 {
    font-size: 135%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 95%;
    font-style: italic;
}

/* quick grid */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.col-50 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    box-sizing: border-box;
}

.col-50 {
    width: 50%;
}

/* end grid */
