<div id="pieces-a-joindre">
  <h2>Pièces à joindre</h2>

  <ul class="pieces">
    <li>Le CV du candidat</li>
    <li>La notice individuelle dûment remplie</li>
    <li>La demande d'extrait de casier judiciaire remplie</li>

    {%- if demande.nature_du_recrutement != 'Doctorant' %}
      <li>La fiche de poste</li>
    {%- endif %}

    <li>Un relevé d’identité bancaire original</li>
    <li>La demande de prise en charge des frais de transport signée par
      l’intéressé et le directeur d’unité (avec cachet de la structure)
      accompagnée de la copie du Pass Navigo et d’une copie du justificatif
      annuel de paiement. Pour les paiements mensuels, joindre le 1er
      justificatif mensuel de paiement. Les justificatifs suivants sont à
      conserver et peuvent être demandés en cas de contrôle.
    </li>
    <li>Notification du financeur (si vous n’avez pas de n°eOTP ou de n° de
      référence DR&amp;I)
    </li>
    <li>attestation d’affiliation à la sécurité sociale et carte vitale si déjà
      immatriculé
    </li>
    <li>copie du diplôme justifiant le niveau de rémunération (doctorat,
      master...) traduit par un traducteur assermenté pour les étrangers
    </li>
    <li>copie de la pièce d’identité pour les ressortissants français et
      européens
    </li>
  </ul>

  Pour les ressortissants étrangers hors UE
  <ul class="pieces">
    <li>
      copie du passeport et convention d’accueil visée par le Consulat, ou visa
      scientifique ou autorisation provisoire de travail, ou carte de résident,
      ou récépissé de carte séjour, (Pour toutes informations complémentaires,
      voir la Direction des relations internationales, la personne responsable
      de l’accueil des étudiants et chercheurs étrangers)
    </li>
    <li>
      extrait d’un acte de naissance traduit par un traducteur assermenté. Ne
      pas oublier lorsqu’il n’y a pas encore eu d’immatriculation (1er employeur
      en France) de communiquer le n° d’immatriculation définitif obtenu auprès
      du centre de sécurité sociale.
    </li>
  </ul>
</div>
