{% extends "base.html" %}
{%- from "_macros.html" import flashed_messages -%}

{% block main %}
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a href="/"><i class="far fa-home"></i> Accueil</a></li>
      {% if breadcrumbs is undefined %}
        {% set breadcrumbs = [{'name': title}] %}
      {% endif %}
      {% for item in breadcrumbs %}
        {% if item.url is defined %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% else %}
          <li class="active">{{ item.name }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        {% if config.NAME != 'PRODUCTION' %}
          <div class="alert alert-warning" role="alert">Attention vous êtes sur
            une instance de test ou de préproduction. Ne saisissez pas des
            données confidentielles. Toutes les données saisies seront perdues.
          </div>
        {% endif %}

        {{ flashed_messages() }}

        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
{% endblock %}

