Source: labster
Section: python
Priority: extra
Maintainer: Stefane Fermigier <sf@fermigier.com>
Build-Depends: debhelper (>= 9), python3, libssl-dev,
    libpq-dev, libxslt1-dev, libjpeg-dev, libffi-dev, libsqlite3-dev,
    libbz2-dev, libcairo2-dev, libpango1.0-dev, fakeroot, build-essential,
    git-core
Standards-Version: 3.9.5

Package: labster
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3-minimal, ${misc:Pre-Depends}
Depends: libssl1.1, libpq5, libxslt1.1, libjpeg62-turbo,
    libffi6, libsqlite3-0, libbz2-1.0, libcairo2, libpango-1.0-0,
    postgresql, redis-server, poppler-utils, imagemagick, unoconv
Description: lab&co for Sorbonne Université - OK ?
